name: tests

on:
  push:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install -e .

      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.1

      - name: Check package metadata rendering (twine check)
        run: |
          pip install build twine
          python -m build --sdist --wheel
          twine check dist/*
